.event_input {
    width: 40rem;
}

.under_input {
    display: flex;
    padding-top: 0.5rem;
}

.character_count {
    padding-left: 7rem;
    opacity: 0.6;
    flex-grow: 1;
}

.submit_button {
    flex-grow: 0;
}