:global(.monaco-diff-editor .editor.original) {
    display: none;
}

:global(.monaco-diff-editor .editor.modified) {
    left: 0 !important;
}

:global(.monaco-diff-editor.vs .diffOverview), :global(.monaco-diff-editor.vs-dark .diffOverview) {
    background: transparent !important;
}

.change_label {
    height: 2rem;
}

.change_label + section {
    height: calc(100% - 2rem) !important;
}